* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* CANCELLAMI ALLA FINE */
    /* border: 1px solid rgb(75, 71, 71); */
    /* border-radius: 10px; */
    /* CANCELLAMI ALLA FINE  */
}


:root {
    --dark: #000000;
    --btn-theme: #0061FF; 
    --alternative-font1: #61082B;
    --alternative-bg1: #B4D0E7;
    --alternative-bg2: #F5F5F5;
    --light: #FFFFFF; 
    --alternative-font2: #697986;
    --border-color: #DEDEE0;

    --design1: #A2D39B;
    --design2: #61082B;
    --design3: #0093CE;
    --design4: #FF1C1C;
    --design5: #D5001F;
    --design6: #B4D0E7;
    --design7: #0D2481;
    --design8: #FFD830;

    --font: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: var(--font);
    min-width: 1440px;
}


/* #region UTILITY */

.row {
    width: 100%
}

.row::after { 
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: var(--dark);
}

/* #region COMMENTAMI ALLA FINE */
.clearfix_rule::after { 
    content: "";
    display: table;
    clear: both;
}

/* #endregion COMMENTAMI ALLA FINE */

.col_5 {
    width: 5%;
    float: left;
}

.col_20 {
    width: 20%;
    float: left;
}

.col_30 {
    width: 30%;
    float: left;
}

.col_33 {
    width: calc(100% / 3);
    float: left;
}

.col_40 {
    width: 40%;
    float: left;
}

.col_50 {
    width: 50%;
    float: left;
}

.col_60 {
    width: 60%;
    float: left;
}

.col_70 {
    width: 70%;
    float: left;
}

.col_95 {
    width: 95%;
    float: left;
}

.col_100 {
    width: 100%;
    float: left;
}

.ml_1 {
    margin-left: 1rem;
}

.ml_2 {
    margin-left: 2rem;
}

.mr_1 {
    margin-right: 1rem;
}

.mr_2 {
    margin-right: 2rem;
}

.pr_4 {
    padding-right: 4rem;
}

.text-right {
    text-align: end;
}

.container_big {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0;
}

.container_small {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.btn {
    padding: 0.3rem 1rem;
    display: inline-block;
}

.btn-1 {
    background-color: var(--btn-theme);
    color: var(--light);
}

.btn-2 {
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
}

.btn-3 {
    background-color: var(--light);
    color: var(--dark);
    width: 100%;
    text-align: center;
}

.link-2 {
    color: var(--btn-theme);
    text-decoration: underline;
}


/* #endregion UTILITY */


/* #region HEADER */

#site_header {
    /* height: 60px; */
    line-height: 60px;
    width: 100%;
    background-color: var(--light);
    font-size: 0.8rem;
}

#site_header ul,
#site_footer ul {
    display: inline-block;
    list-style: none;
}

#site_header li {
    display: inline-block;
    padding: 0 1rem;
}

#site_header img {
    vertical-align: middle;
}

#site_header .btn {
    display: inline;
}

#site_header>nav>.col_50>ul>li:hover {
    background-color: lightgrey;
    position: relative;
}

.hidden_menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightgrey;
    line-height: 40px;
    visibility: hidden;

}

.hidden_menu li,
.hidden_menu ul {
    display: block;
}


#site_header>nav>.col_50>ul>li:hover .hidden_menu {
    visibility: visible;
}



/* #endregion HEADER */


/* #region SITE MAIN */

/* #region HERO SECTION */

.hero_section {
    height: 630px;
    background-color: var(--alternative-bg1);
    margin-bottom: 3rem;
}

.hero_section h1 {
    font-size: 4rem;
}

.hero_section p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hero_section .btn {
    margin: 0.5rem 0;
}

.arrow {
    margin: 2rem 0;
    font-size: 2rem;
}

.hero_section img {
    max-width: 100%;
    margin-top: 2rem;
}

.hero_section .text {
    font-size: 0.7rem;
}

/* #endregion HERO SECTION */

/* #region BUSINESS PLAN */

.business_plan h2 {
    margin: 2rem 0;
    font-size: 2.5rem;
}

.pay-info {
    line-height: 1rem;
    margin: 2rem 0;
}

.pay-info input {
    vertical-align: middle;
    height: 1rem;
    width: 1rem;
}

.pay-info label {
    font-size: 0.8rem;
    margin-right: 1rem;
}


.row.priority > .col_30,
.business_plan .col_100 {
    border: 1px solid var(--border-color);
}

.row.priority > .col_30,
.business_plan .col_5 {
   height: 800px;
}

.business_plan .col_100 {
    margin-top: 3rem;
}

.type {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
}

.info {
    padding: 1.5rem;
}

.info  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.info  .price {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.info  .time {
    font-size: 0.7rem;
    color: var(--alternative-font2);
    margin-bottom: 2rem;
}

.additional_info1, .additional_info2 {
    margin: 2rem 0;
}

.additional_info1 >div,
.additional_info2 >div {
    margin: 1rem 0;
    font-size: 0.8rem;
}

.buy {
    margin-top: 1rem;
    font-size: 0.8rem;
}

/* .buy > a {
    color: var(--btn-theme);
    text-decoration: underline;
} */

.line {
    width: 15%;
    margin-top: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.additional_info2 i {
    color: var(--btn-theme);
}

.business_plan .btn {
    text-align: center;
    width: 100%;
}

.solutions {
    margin-top: 2rem;
    font-size: 0.8rem;
}

/* #endregion BUSINESS PLAN */

/* #region PARTNERS / DROPBOX-BUSINESS */

.partners img,
.dropbox_business img {
    width: 100%;
}

.partners .col_40 {
    padding: 3rem;
}

.partners h3,
.dropbox_business h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.partners p,
.dropbox_business p  {
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.dropbox_business .col_33 {
    padding: 1.5rem;
}

.dropbox_business h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.dropbox_business a {
    font-size: 0.8rem;
}

/* #endregion PARTNERS / DROPBOX-BUSINESS  */

/* #region DESIGN */


.design {
    background-color: var(--alternative-bg2);
}

.design .col_50 {
    height: calc(100vw * 0.15);
    line-height: calc(100vw * 0.15);
    text-align: center;
}


.design.col_40 {
    
    padding: 3rem;

}

.design.col_40 img{
    
    width: 25%;

}

.design p {
    
    margin-top: 3rem;
    font-size: 0.9rem;
}

.design .invert {
    width: 50%;
    filter: invert(1);
    vertical-align: middle;
}

.design img:nth-child(5) {
    width: 50%;
    filter: invert(1);
    vertical-align: middle;
}

.design1 {
    background-color: var(--design1);
}

.design2 {
    background-color: var(--design2);
}

.design3 {
    background-color: var(--design3);
}

.design4 {
    background-color: var(--design4);
}

.design5 {
    background-color: var(--design5);
}

.design6 {
    background-color: var(--design6);
}

.design7 {
    background-color: var(--design7);
}

.design8 {
    background-color: var(--design8);
}



/* #endregion DESIGN */


/* #region FREE TRIAL - FAQ */

.free_trial {
    background-color: var(--alternative-bg1);
}

.free_trial > .container_small,
.faq > .container_small {
    padding: 8rem 0;
}

.free_trial h2 {
    color: var(--alternative-font1);
    font-size: 2.5rem;
    padding-right: 30%;
}

.faq {
    background-color: var(--light);
}

.faq h3 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.faq > .container_small > .row {
    line-height: 6rem;
    border-top: 2px solid var(--border-color);
}

.faq .margin-bottom {
    border-bottom: 2px solid var(--border-color);
}



/* #endregion FREE TRIAL - FAQ */

/* #endregion SITE MAIN */


/* #region FOOTER */

#site_footer {
    background-color: var(--dark);
    color: var(--light)
}

#site_footer h3 {
    margin-bottom: 1rem;
}

#site_footer a {
    color: var(--light);
}

#site_footer li {
    font-size: 0.8rem;
    line-height: 1.8rem;
}

#site_footer .line {
    margin-top: 4rem;  
}

.language {
    margin-top: 3rem;
    color: var(--alternative-font2);
    font-size: 0.8rem;
}


/* #endregion FOOTER */



